body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #333;
    color: white;
    border: 1px solid ;
}

.container {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #bb333f;
}

.output {
    margin-top: 20px;
    font-weight: bold;
}
